<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.0" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd">
    <servlet>
        <servlet-name>ServletAltaPareja</servlet-name>
        <servlet-class>Servlets.ServletAltaPareja</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ServletBajaPareja</servlet-name>
        <servlet-class>Servlets.ServletBajaPareja</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ServletModificarPareja</servlet-name>
        <servlet-class>Servlets.ServletModificarPareja</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ServletListaPareja</servlet-name>
        <servlet-class>Servlets.ServletListaPareja</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ServletAltaArticulo</servlet-name>
        <servlet-class>Servlets.ServletAltaArticulo</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ServletBajaArticulo</servlet-name>
        <servlet-class>Servlets.ServletBajaArticulo</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ServletModificarArticulo</servlet-name>
        <servlet-class>Servlets.ServletModificarArticulo</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ServletListaArticulo</servlet-name>
        <servlet-class>Servlets.ServletListaArticulo</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ServletAltaInvitado</servlet-name>
        <servlet-class>Servlets.ServletAltaInvitado</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ServletBajaInvitado</servlet-name>
        <servlet-class>Servlets.ServletBajaInvitado</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ServletModificarInvitado</servlet-name>
        <servlet-class>Servlets.ServletModificarInvitado</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ServletListaInvitado</servlet-name>
        <servlet-class>Servlets.ServletListaInvitado</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ServletNombreParejas</servlet-name>
        <servlet-class>Servlets.ServletNombreParejas</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ServletNombrePareja</servlet-name>
        <servlet-class>Servlets.ServletNombrePareja</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ServletListaNombrePareja</servlet-name>
        <servlet-class>Servlets.ServletListaNombrePareja</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ServletListaRegalos</servlet-name>
        <servlet-class>Servlets.ServletListaRegalos</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ServletListaNombreComercio</servlet-name>
        <servlet-class>Servlets.ServletListaNombreComercio</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ServletReporte1</servlet-name>
        <servlet-class>Servlets.ServletReporte1</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ServletReporte01</servlet-name>
        <servlet-class>Servlets.ServletReporte01</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ServletAltaRegalo</servlet-name>
        <servlet-class>Servlets.ServletAltaRegalo</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ServletNuevoRegalo</servlet-name>
        <servlet-class>Servlets.ServletNuevoRegalo</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ServletAltaLista</servlet-name>
        <servlet-class>Servlets.ServletMostrarLista</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ServletListaRegalo</servlet-name>
        <servlet-class>Servlets.ServletListaRegalo</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ServletLogin</servlet-name>
        <servlet-class>Servlets.ServletLogin</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ServletErrorLogin</servlet-name>
        <servlet-class>Servlets.ServletErrorLogin</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ServletMenuAdministrador</servlet-name>
        <servlet-class>Servlets.ServletMenuAdministrador</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ServletMenuAdm</servlet-name>
        <servlet-class>Servlets.ServletMenuAdm</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ServletLoginError</servlet-name>
        <servlet-class>Servlets.ServletLoginError</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ServletLoginValidar</servlet-name>
        <servlet-class>Servlets.ServletLoginValidar</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ServletLoginAdm</servlet-name>
        <servlet-class>Servlets.ServletLoginAdm</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ServletLoguearse</servlet-name>
        <servlet-class>Servlets.ServletLoguearse</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ServletLoguin</servlet-name>
        <servlet-class>Servlets.ServletLoguin</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ServletRegaloNuevo</servlet-name>
        <servlet-class>Servlets.ServletRegaloNuevo</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ServletRep1</servlet-name>
        <servlet-class>Servlets.ServletRep1</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ServletRegRegalo</servlet-name>
        <servlet-class>Servlets.ServletRegRegalo</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ServletSelect</servlet-name>
        <servlet-class>Servlets.ServletSelect</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ServletRep2</servlet-name>
        <servlet-class>Servlets.ServletRep2</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ServletRep3</servlet-name>
        <servlet-class>Servlets.ServletRep3</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ServletMensaje</servlet-name>
        <servlet-class>Servlets.ServletMensaje</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ServletRep4</servlet-name>
        <servlet-class>Servlets.ServletRep4</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>ServletAltaPareja</servlet-name>
        <url-pattern>/ServletAltaPareja</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ServletBajaPareja</servlet-name>
        <url-pattern>/ServletBajaPareja</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ServletModificarPareja</servlet-name>
        <url-pattern>/ServletModificarPareja</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ServletListaPareja</servlet-name>
        <url-pattern>/ServletListaPareja</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ServletAltaArticulo</servlet-name>
        <url-pattern>/ServletAltaArticulo</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ServletBajaArticulo</servlet-name>
        <url-pattern>/ServletBajaArticulo</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ServletModificarArticulo</servlet-name>
        <url-pattern>/ServletModificarArticulo</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ServletListaArticulo</servlet-name>
        <url-pattern>/ServletListaArticulo</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ServletAltaInvitado</servlet-name>
        <url-pattern>/ServletAltaInvitado</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ServletBajaInvitado</servlet-name>
        <url-pattern>/ServletBajaInvitado</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ServletModificarInvitado</servlet-name>
        <url-pattern>/ServletModificarInvitado</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ServletListaInvitado</servlet-name>
        <url-pattern>/ServletListaInvitado</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ServletNombreParejas</servlet-name>
        <url-pattern>/ServletNombreParejas</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ServletNombrePareja</servlet-name>
        <url-pattern>/ServletNombrePareja</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ServletListaNombrePareja</servlet-name>
        <url-pattern>/ServletListaNombrePareja</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ServletListaRegalos</servlet-name>
        <url-pattern>/ServletListaRegalos</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ServletListaNombreComercio</servlet-name>
        <url-pattern>/ServletListaNombreComercio</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ServletReporte1</servlet-name>
        <url-pattern>/ServletReporte1</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ServletReporte01</servlet-name>
        <url-pattern>/ServletReporte01</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ServletAltaRegalo</servlet-name>
        <url-pattern>/ServletAltaRegalo</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ServletNuevoRegalo</servlet-name>
        <url-pattern>/ServletNuevoRegalo</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ServletAltaLista</servlet-name>
        <url-pattern>/ServletAltaLista</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ServletListaRegalo</servlet-name>
        <url-pattern>/ServletListaRegalo</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ServletLogin</servlet-name>
        <url-pattern>/ServletLogin</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ServletErrorLogin</servlet-name>
        <url-pattern>/ServletErrorLogin</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ServletMenuAdministrador</servlet-name>
        <url-pattern>/ServletMenuAdministrador</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ServletMenuAdm</servlet-name>
        <url-pattern>/ServletMenuAdm</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ServletLoginError</servlet-name>
        <url-pattern>/ServletLoginError</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ServletLoginValidar</servlet-name>
        <url-pattern>/ServletLoginValidar</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ServletLoginAdm</servlet-name>
        <url-pattern>/ServletLoginAdm</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ServletLoguearse</servlet-name>
        <url-pattern>/login</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ServletLoguin</servlet-name>
        <url-pattern>/ServletLoguin</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ServletRegaloNuevo</servlet-name>
        <url-pattern>/ServletRegaloNuevo</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ServletRep1</servlet-name>
        <url-pattern>/ServletRep1</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ServletRegRegalo</servlet-name>
        <url-pattern>/ServletRegRegalo</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ServletSelect</servlet-name>
        <url-pattern>/ServletSelect</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ServletRep2</servlet-name>
        <url-pattern>/ServletRep2</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ServletRep3</servlet-name>
        <url-pattern>/ServletRep3</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ServletMensaje</servlet-name>
        <url-pattern>/ServletMensaje</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ServletRep4</servlet-name>
        <url-pattern>/ServletRep4</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
